.taskButton {
    display: block;
    background-color: aliceblue;
    border: 1px cornflowerblue;
    border-style: solid;
    text-decoration: none;
    width: 30px;
    height: 20px;
    text-align: center;
}

#tasksList {
    list-style-type: none;
}