ul.books-list {
    columns: 2;
    height: max-content;
    background-color: snow;
    list-style-type: none;
}
ul.books-list li {
    display: flex;
    height: 120px;
    overflow: auto;
    text-align: center;
}
#bookTitle {
    margin: auto;
}
#bookCover {
    height: 120px;
    width: 100px;
}

.content {

}