.taskButton {
    display: inline-block;
    float: left;
    background-color: aliceblue;
    border: 1px cornflowerblue;
    border-style: solid;
    text-decoration: none;
    width: 38px;
    height: 25px;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 5px;
}

#bookTitle {
    font-size: larger;
}

#bookDescription {
    color: dimgray;
}

#tasksList {
    list-style-type: none;
    padding-inline-start: 0;
}
#bookCover {
    width: 90px;
    height: 120px;
    float: left;
    margin-right: 1%;
}