ul.books-list {
    columns: 2;
    height: max-content;
    list-style-type: none;
}
ul.books-list li {
    display: flex;
    height: 124px;
    overflow: auto;
    margin-bottom: 13px;
}
ul.books-list :hover{
    background: lavenderblush;
}
#bookAuthor {
    float: left;
    text-decoration: none;
}
#bookAuthor p{
    color: #333333;
    margin: 0;
    font-size: 20px;
}
#bookCover {
    height: 120px;
    width: 100px;
}

.book-info {
    margin-top: 10px;
    padding-inline-start: 0;
    margin-left: 2%;
}

#books-list-title{
    margin-left: 5%;
    font-size: 20px;
}

#pub_h {
    text-decoration: none;
}
#pub_h p{
    font-size: 15px;
    margin: 0;
    color: darkgrey;
}

.content {

}