body {
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    background: url("/static/img/background.jpg");
    z-index: 6;
    position: relative;
}

#body-div{
    background: mintcream;
    position: absolute;
    z-index: 3;
    width: 100%;
}

#footer {
    height: 55px;
    background: gainsboro;
    bottom: 0;
}

header {
    margin: 12px;
    margin-bottom: 7px;
    height: 60px;
    display: flex;
    top: 0;
}
header a{
    margin-right: 2%;
    height: 100%;
    width: 22%;
}

.search {
    width: 75%;
    height: 100%;
    display: flex;
}
.search p {
    width: 100%;
}
#search-input {
    width: 84%;
}
#search-button {
    width: 15%;
}

.content {
    float: right;
    width: 75%;
    height: max-content;
    margin-right: 16px;
    margin-top: 10px;
}

ul.nav {
    float: left;
    padding-inline-start: 15px;
    list-style-type: none;
    margin: 8px;
}
ul.nav ul {
    width: 95%;
    margin: 0;
    display: none;
    list-style: none;
}
ul.nav a {
  background-color: #4CAF50;
  border: 1px solid green;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  width: 130px;
  display: block;
  color: white;
}
ul.nav ul > li > a {
    background-color: dodgerblue;
}
ul.nav li:last-child a {
    border-bottom: 1px solid #333;
}
ul.nav a:hover {
    background-color: cornflowerblue;
}




