
body {
    /*  блок расположен: base.html
        стили для задания фонового цвета для всего сайта и подключения фоновой картинки с кружочками
        Здесь задается общий шрифт для всего сайта по умолчанию (а зачем?)*/
    background: url('../img/circles.svg');
    background-color: #7400E8;
    background-size: 100%;
    z-index: 6; /* Зачем? */
    position: relative; /* Зачем?*/

    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    color: #7400E8;

    text-align: center;
}

html {
    width:100vw;
    overflow-x:hidden;
}

.left-column-and-content {
    text-align: center;
    display: inline-block;
    margin: auto;
}

.body-div{
    margin: auto;
    background: white;

    z-index: 3;
    width: 90%;

    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.22);
    padding-top: 1px;
}

footer {
    height: 55px;
    background: whitesmoke;

    bottom: 0;
    position: relative;
    margin-bottom: -55px;
    width: 100%;
    display: flex;
}

header {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 60px;
    width: 98%;

    display: flex;
    position: relative;
    background: white;

    top: 0;     /* Уточнить что это?*/
    box-shadow: 0 0px 10px rgba(0,0,0,0.22);
    border-radius: 4px;
}

header a{
    height: 100%;
    width: 22%;
}

.search {
    width: 75%;
    height: 100%;
    display: flex;
    margin-top: -6px;
}

.search p {
    width: 100%;
}

#search-input {
    width: 87%;
    height: 40px;
    border-radius: 4px;
    border: 3px solid #7400E8;
    padding-left: 8px;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    margin-left: -10px;
    margin-right: 6px;
}

#search-button {
    width: 12%;
    height: 40px;
    background: #7400E8;
    border-radius: 4px;
    border: 3px solid #7400E8;
    color: white;
    cursor: pointer;

    font-family: 'Rubik', sans-serif;
    font-weight: 900;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

#search-button:hover {
    background-color: #dbfe01;
    color: #7400E8;
}

.ad {
    width: 240px;
    height: 400px;
    float: right;
    margin-left: 10px;

    border: 1px solid purple;
}

.content {
    float: right;
    width: 80%;
    height: max-content;

    position: relative;
    border: 1px solid green;

    display: flex;
    justify-content: space-between;

}

.left-column-and-content {
    width: 98%;
}

.left-column {
    float: left;
    width: 19%;
    height: 100%;

    position: relative;

    box-shadow: 0 0px 10px rgba(0,0,0,0.22);
    border-radius: 4px;

    border: 1px solid blue;
}

.left-column-list{
    list-style-type: none;
    padding-inline-start: 0;
    height: 100%;
}

ul.nav {
    padding-inline-start: 0;
    list-style-type: none;
    position: relative;
    margin: -16px 0 0 0;
}

ul.nav ul {
    display: none;
    list-style: none;
}

ul.nav a:hover {
    background-color: #7400E8;
    color: white;
}

ul.nav a {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: #7400E8;
}

ul.nav li > ul > li > a {
    text-align: center;
    background-color: #5B00B6;
    color: white;
    margin: 0 0 0 -40px;
}

ul.nav li > ul > li > a:hover {
    background-color: #7400E8;
}

@media screen and (min-width: 1500px){
    body{
        width: 1500px;
    }
}

@media screen and (max-width: 1275px) {
    .ad {
        width: 160px;
        height: 600px;
    }

    .logo {
        width: 24%;
    }
}

@media screen and (max-width: 1165px) {
    .ad {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    .left-column {
        display: none;
    }

    .content {
        width: 100%;
        margin: auto;
        display: inline-block;
    }

    .body-div {
        text-align: center;
    }

    .search {
        display: none;
    }

    .logo {
        width: 100%;
    }

    header {
        width: 97%;
    }

}

@media screen and (max-width: 755px) {
    .left-column-and-content {
        width: 95%;
    }

    .left-column-list {
        width: 100%;
    }

    header {
        width: 96%;
    }
}