
body {
    /*  блок расположен: base.html
        стили для задания фонового цвета для всего сайта и подключения фоновой картинки с кружочками
        Здесь задается общий шрифт для всего сайта по умолчанию (а зачем?)*/
    background: url('../img/circles.svg');
    background-color: #7400E8;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 6; /* Зачем? */
    position: relative; /* Зачем?*/

    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 24;
    color: #7400E8;
}

.body-div{
    margin-left: 8%;
    margin-right: 8%;
    background: white;
    position: absolute;
    z-index: 3;
    width: 84%;
    margin-top: 20px;
    margin-bottom: 70px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.22);
}

footer {
    height: 55px;
    background: whitesmoke;
    bottom: 0;
    position: relative;
    margin-bottom: -55px;
    width: 100%;
    display: flex;
}

header {
    margin: 12px;
    margin-bottom: 7px;
    height: 60px;
    display: flex;
    position: relative;
    background: white;
    top: 0;     /* Уточнить что это?*/
    box-shadow: 0 0px 10px rgba(0,0,0,0.22);
    border-radius: 4px;
}
header a{
    margin-right: 1.2%;
    height: 100%;
    width: 22%;
}

.search {
    width: 75%;
    height: 100%;
    display: flex;
    margin-top: -6px;
}

.search p {
    width: 100%;
}

#search-input {
    width: 87%;
    height: 40px;
    border-radius: 4px;
    border: 3px solid #7400E8;
    padding-left: 8px;

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 24;

    margin-left: -10px;
    margin-right: 6px;
}

#search-button {
    width: 12%;
    height: 40px;
    background: #7400E8;
    border-radius: 4px;
    border: 3px solid #7400E8;
    color: white;
    cursor: pointer;

    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 24;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

#search-button:hover {
    background-color: #dbfe01;
    color: #7400E8;
}

.content {
    float: right;
    width: 75%;
    height: max-content;
    margin-right: 1%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.left-column {
    float: left;
    width: 200px;
    height: 100%;
    margin-top: 10px;
    margin-right: 1%;
    margin-left: 12px;
    position: relative;
    z-index: 3;
    box-shadow: 0 0px 10px rgba(0,0,0,0.22);
    border-radius: 4px;
}

.left-column-list{
    list-style-type: none;
    padding-inline-start: 0;
}

ul.nav {
    padding-inline-start: 0;
    list-style-type: none;
    position: relative;
    width: 100%;
    margin: -16px 0 0 0;
}

ul.nav ul {
    display: none;
    list-style: none;
}

ul.nav a:hover {
    background-color: #7400E8;
    color: white;
}

ul.nav a {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  display: block;
  color: #7400E8;
}

ul.nav li > ul > li > a {
    width: 140px;
    text-align: center;
    background-color: #5B00B6;
    color: white;
    margin: 0 0 0 -40px;
}

ul.nav li > ul > li > a:hover {
    background-color: #7400E8;
}
