#indexTable {
    width: 500px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 0px;
    color: white;
    text-align: center;
    box-shadow: 0 0px 10px rgba(0,0,0,0.22);
    border-radius: 4px;
}

.subject-name {
    text-align: center;
    background-color: #7400E8;
    padding: 10px 30px 10px 30px;
}

.subject-name-class {
    text-align: center;
    color: #7400E8;
    padding: 10px 30px 10px 30px;
}

.form-num {
    text-align: center;
    background-color: #7400E8;
    padding: 10px 15px 10px 15px;
}

.dot {
    text-align: center;
}

.be {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.be:hover {
    filter: brightness(90%);
}