#indexTable {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 7px;
}
#indexTable td {

}
.subject-name {
    text-align: left;
}
.form-num {
    text-align: center;
}