<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    {% block add_head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link type="text/css" href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet"/>
    {% endblock %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');
    </style>



</head>
<body>
<div class="body-div">

    <header>
        <a class="logo" href="{{ url_for('index') }}"><img alt="GDZon" height="100%" width="100%"
                                                           src="{{ url_for('static', filename='img/logo_2.svg') }}"></a>
        <form action="/search" class="search">
            <p id="search-input-and-button"><input id="search-input" type="search" name="sr" placeholder="Русский язык 5 класс">
               <input id="search-button" type="submit" value="Найти"></p>
        </form>
    </header>

    <div class="left-column-and-content">
        <div class="left-column">
            <ul class="left-column-list">

                    <ul class="nav">
                        {% for form in ['1','2','3','4','5','6','7','8','9','10','11'] %}
                            <li><a>{{form.__str__() + " класс"}}</a>
                                {% if form == grade %}
                                    <ul class="nav-klass-active">
                                {% else %}
                                    <ul class="nav-klass-hidden">
                                {% endif %}
                                    {% for subject in subjects %}
                                        {% if Books.query.filter_by(subject=subject, grade=form).first() %}
                                            <li><a href="{{ url_for('table_to_books', grade=form.__str__()+"-klass", subject=subject) }}">{{subjects[subject][-1]}}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}

                    </ul>

            </ul>
        </div>
        <div class="content">
            {% block content %}


            {% endblock %}
            <div class="ad">

            </div>
        </div>
    </div>

    <footer>
        -----типа копирайт------
    </footer>


</div>
</body>
</html>