{% extends 'base.html' %}

{% block content %}
    {{ super() }}

    <p id="bookTitle">{{ book_title }}</p>
    <article id="bookDescription"> {{ description }} </article>
    <img id="bookCover" alt="{{ book_title }}" src="{{ url_for('static', filename='img/covers/') }}{{ id_ }}">

    <ul id="tasksList">
        {% for i in range(tasks_count) %}
            <li><a class="taskButton" href="{{ grade }}-klass/{{ subject }}/{{ id_ }}/{{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}