{% extends 'base.html' %}

{% block add_head %}
    {{ super() }}

    <link type="text/css" href="{{ url_for('static', filename='css/booksList.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {{ super() }}

    <p id="books-list-title">{{ page_title }}</p>

    <ul class="books-list">
        {% for book in books_list %}
            <li>
                <a href="{{ url_for('book_tasks', grade=grade+"-klass", subject=subject, book=book.id_) }}"><img id="bookCover" alt="" src="{{ url_for('static', filename='img/covers/'+book.id_) }}.jpg"></a>
                <ul class="book-info">
                    <a id="bookAuthor" href="{{ url_for('book_tasks', grade=grade+"-klass", subject=subject, book=book.id_) }}"><p>{{ book.author }}</p></a>
                    <a id="pub_h" href="{{ url_for('book_tasks', grade=grade+"-klass", subject=subject, book=book.id_) }}"><p>{{ book.pub_h }}</p></a>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}