{% extends 'base.html' %}

{% block add_head %}
    {{ super() }}

    <link type="text/css" href="{{ url_for('static', filename='css/booksList.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="books">
        <p id="books-list-title">{{ page_title }}</p>

        <p class="text"><a class="path" href="/">Главная</a>/<a class="path" href={{ url }}>{{ ru_subject + " " + grade + " класс "}}</a></p>

        <ul id="books-list">
            {% for book in books_list %}
                <a class="book" href="{{ url_for('book_tasks', grade=grade+"-klass", subject=subject, book=book.id_) }}">
                    <p><img class="bookCover" alt="" src="{{ url_for('static', filename='img/covers/'+book.id_) }}.jpg"></p>

                    <div class="bookInfo">
                        <p class="bookAuthor">{{ book.author }}</p>
                        <p class="bookPubH">{{ book.pub_h }}</p>
                    </div>

                </a>
            {% endfor %}
        </ul>
    </div>

{% endblock %}