{% extends 'base.html' %}

{% block add_head %}
    {{ super() }}

    <link type="text/css" href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {{ super() }}

    <article>

    </article>

    <table id="indexTable">
        {% for subject in booksExist %}
            <tr>
                {% for form in range(12) %}

                    {% if form == 0 %}
                        <th class="subject-name" width="12%">{{ booksExist[subject][-1] }}</th>
                    {% else %}

                        {% if subject == "Класс" %}
                            <th class="form-num" width="8%">{{ form }}</th>
                        {% endif %}

                        {% if subject != "Класс" %}
                            <td>
                                <a href="{{ url_for('table_to_books', grade=str_nums[form]+"-klass", subject=subject) }}">
                                    {% if booksExist.get(subject)[form-1]=="be" %}
                                    <img alt="" width="26px" height="26px"
                                         src="{{ url_for('static', filename='img/'+"be"+'.png') }}">

                                    {% else %}
                                    {% endif %}
                                </a>
                            </td>
                        {% endif %}

                    {% endif %}

                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}